.footer {
  padding-top: 5.7rem;
  padding-bottom: 5.7rem;
  border-top: 0.1rem solid @light-gray;
}

.footer__copyright-text {
  font-weight: @light;
}

@media (max-width: @tablet-width) {
  .footer {
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
