@font-face {
  font-display: swap;
  font-family: 'Golos';
  src: local('Golos'), local('Golos-Regular'), url('../fonts/Golos/Golos-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Golos';
  src: local('Golos-Medium'), url('../fonts/Golos/Golos-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Golos';
  src: local('Golos-DemiBold'), url('../fonts/Golos/Golos-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Golos';
  src: local('Golos-Bold'), url('../fonts/Golos/Golos-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'Golos';
  src: local('Golos-Black'), url('../fonts/Golos/Golos-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER Grotesque';
  src: local('SONGER Grotesque'), local('SONGER-Grotesque-Regular'), url('../fonts/SONGER/Grotesque/SONGER-G-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER Grotesque';
  src: local('SONGER-Grotesque-Medium'), url('../fonts/SONGER/Grotesque/SONGER-G-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER Grotesque';
  src: local('SONGER-Grotesque-Bold'), url('../fonts/SONGER/Grotesque/SONGER-G-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER Grotesque';
  src: local('SONGER-Grotesque-ExtraBold'), url('../fonts/SONGER/Grotesque/SONGER-G-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER Grotesque';
  src: local('SONGER-Grotesque-Black'), url('../fonts/SONGER/Grotesque/SONGER-G-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER SemiExpanded';
  src: local('SONGER SemiExpanded'), local('SONGER-SemiExpanded-Regular'), url('../fonts/SONGER/SemiExpanded/SONGER-SE-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER SemiExpanded';
  src: local('SONGER-SemiExpanded-Medium'), url('../fonts/SONGER/Grotesque/SONGER-SE-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER SemiExpanded';
  src: local('SONGER-SemiExpanded-Bold'), url('../fonts/SONGER/SemiExpanded/SONGER-SE-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER SemiExpanded';
  src: local('SONGER-SemiExpanded-ExtraBold'), url('../fonts/SONGER/SemiExpanded/SONGER-SE-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: 'SONGER SemiExpanded';
  src: local('SONGER-SemiExpanded-Black'), url('../fonts/SONGER/SemiExpanded/SONGER-SE-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Golos', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
input,
button,
textarea {
  box-sizing: border-box;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: 'Golos', 'Arial', sans-serif;
  font-size: inherit;
}
fieldset {
  padding: 0;
  border: 0;
}
blockquote,
figure,
fieldset,
dl,
dd {
  margin: 0;
}
.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
.overlay {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.active {
  display: block;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.container {
  max-width: 1224px;
  width: 100%;
}
html .mobile-flex,
html .mobile-block {
  display: none;
}
html .desktop-block {
  display: block;
}
html .desktop-flex {
  display: flex;
}
.js-phone-mask:-moz-ui-invalid {
  box-shadow: none;
}
@media (max-width: 48em) {
  html {
    --padding-inline: 25px;
  }
  .container {
    width: auto;
    padding-left: var(--padding-inline);
    padding-right: var(--padding-inline);
  }
  html .desktop-flex,
  html .desktop-block {
    display: none;
  }
  html .mobile-block {
    display: block;
  }
  html .mobile-flex {
    display: flex;
  }
}
@media (max-width: 113em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 108em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 96em) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 41.667%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 33.333%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 23em) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 22em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 53%;
  }
}
.o {
  outline: 1px solid red;
}
.r {
  border: 1px solid red;
}
.shadow-outer {
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(115, 76, 191, 0.1), 0px 3px 6px rgba(115, 76, 191, 0.1), 0px 1px 0px rgba(115, 76, 191, 0.15);
}
.shadow-inner {
  background-color: #fff;
  box-shadow: inset 2px 2px 2px rgba(131, 86, 191, 0.1);
}
.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.h1,
.h2,
.h3,
.h4 {
  font-family: 'SONGER Grotesque', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.h1 {
  font-size: 44px;
  line-height: 48px;
  letter-spacing: 0.02em;
  font-feature-settings: 'ss01' on, 'zero' on;
}
.h2 {
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  font-feature-settings: 'ss01' on, 'zero' on;
}
.h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: 'ss01' on;
}
.h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'ss01' on;
}
.p-L,
.p-M,
.p-S,
.p-m {
  font-family: 'Golos', 'Arial', sans-serif;
  font-style: normal;
}
.p-L {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.p-M {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.p-S {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'ss01' on;
}
.p-m {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.005em;
}
.icon {
  width: 24px;
  height: 24px;
}
.icon--very-small {
  width: 12px;
  height: 12px;
}
.icon--small {
  width: 20px;
  height: 20px;
}
.icon--big {
  width: 28px;
  height: 28px;
}
.icon-circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(115, 76, 191, 0.1), 0px 3px 6px rgba(115, 76, 191, 0.1), 0px 1px 0px rgba(115, 76, 191, 0.15);
}
.icon-circle--small {
  width: 40px;
  height: 40px;
}
.icon-shutterstock {
  width: 85px;
  height: 18px;
}
.icon-shutterstock.hide {
  display: none;
}
.btn-big-contacts {
  display: flex;
  align-items: center;
  color: #2D264D;
}
.btn-big-contacts__icon-circle {
  margin-right: 20px;
}
.btn-big-contacts__link {
  font-family: 'SONGER SemiExpanded', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-feature-settings: 'ss01';
}
.btn-big-contacts__desc {
  font-weight: 500;
}
.btn-region {
  position: relative;
  background-image: linear-gradient(120.87deg, #BD5A8F -18.64%, #5B23B5 120.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #734CBF;
}
.btn-region::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(120.87deg, #BD5A8F -18.64%, #5B23B5 120.48%);
}
.btn-callback {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 272px;
  height: 48px;
  padding: 4px;
  color: #fff;
  background-image: linear-gradient(121.65deg, #75C370 0%, #449F3F 103.29%);
  border-radius: 100px;
}
.btn-callback__icon-circle {
  margin-right: 8px;
}
.btn-callback__desc {
  font-family: 'Golos', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.005em;
}
.link-inner {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 120px;
  margin-top: auto;
  padding-left: 26px;
  padding-right: 24px;
  padding-bottom: 25px;
  font-family: 'SONGER Grotesque', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  font-feature-settings: 'ss01' on, 'zero' on;
}
.link-inner__title {
  position: relative;
}
.link-inner--white {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.link-inner::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(21, 13, 64, 0.35) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  mix-blend-mode: multiply;
  opacity: 0.75;
}
.link-gradient {
  display: inline-flex;
  align-items: baseline;
}
.link-gradient__desc {
  display: inline;
  font-family: 'SONGER Grotesque', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-feature-settings: 'ss01' on;
  background-image: linear-gradient(120.87deg, #BD5A8F -18.64%, #5B23B5 120.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #734CBF;
  letter-spacing: 0.05em;
}
.link-gradient__icon {
  margin-left: 6px;
}
/*header*/
.header {
  font-family: 'Golos', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'ss01' on;
  box-shadow: 0px 0px 3px rgba(115, 76, 191, 0.1), 0px 3px 6px rgba(115, 76, 191, 0.1), 0px 1px 0px rgba(115, 76, 191, 0.15);
}
.header__top {
  background-color: #F5F5FF;
  border-bottom: 1px solid #E9E9FF;
}
.header__main-nav {
  padding-top: 13px;
  padding-bottom: 5px;
}
.header__middle {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 26px;
}
.header__logo {
  margin-right: 110px;
}
.header__btn-big-contacts-wrap {
  display: flex;
  justify-content: space-between;
  width: 528px;
}
.header__btn-callback {
  margin-left: auto;
}
.header__bottom {
  padding-top: 18px;
  padding-bottom: 14px;
  border-top: 1px solid #E4E1F5;
}
.header__feature-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626080;
}
.header__feature-item {
  position: relative;
  display: inline-flex;
}
.header__feature-item::after {
  position: absolute;
  content: '';
  top: 50%;
  right: -31px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #DFDBF3;
  border-radius: 50%;
}
.header__feature-item:last-child::after {
  content: none;
}
.header__feature-icon {
  margin-right: 16px;
}
.logo__img-wrap {
  width: 260px;
  height: 52px;
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  color: #2D264D;
  font-weight: 500;
}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.main-nav__list-site {
  max-width: 726px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.main-nav__list-user {
  justify-content: space-between;
  width: 372px;
}
.main-nav__link {
  display: inline-flex;
}
.main-nav__icon {
  margin-right: 8px;
}
/*main*/
.tab-toggle {
  overflow: hidden;
  position: relative;
  padding-top: 36px;
  padding-bottom: 34px;
}
.tab-toggle__decor-img-wrap {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  max-width: 1920px;
  width: 100%;
  height: 188px;
}
.tab-toggle__decor-img-wrap::before,
.tab-toggle__decor-img-wrap::after {
  position: absolute;
  content: '';
  left: 50%;
  width: 240px;
  height: 196px;
  background: linear-gradient(270deg, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}
.tab-toggle__decor-img-wrap::before {
  transform: translateX(-965px) matrix(-1, 0, 0, 1, 0, 0);
}
.tab-toggle__decor-img-wrap::after {
  transform: translateX(725px);
}
.tab-toggle__decor-img {
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1920px;
  opacity: 0;
  visibility: hidden;
}
.tab-toggle__decor-img.active {
  opacity: 1;
  visibility: visible;
}
.tab-toggle__list {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.tab-toggle__item {
  position: relative;
  width: 240px;
  height: 64px;
}
.tab-toggle__btn {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.tab-toggle__btn:active {
  outline: none;
}
.tab-toggle__icon {
  margin-right: 15px;
}
.tab-toggle__title--orange {
  background-image: linear-gradient(120.87deg, #FF9E48 -18.64%, #E8330C 120.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F29161;
}
.tab-toggle__suggestions {
  position: relative;
  z-index: 3;
  padding-top: 24px;
  padding-bottom: 6px;
}
.suggestions {
  width: 953px;
  background-image: linear-gradient(120.87deg, #BD5A8F -18.64%, #5B23B5 120.48%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #734CBF;
}
.suggestions__list {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.suggestions__list.active {
  display: flex;
}
.suggestions__item {
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(115, 76, 191, 0.1), 0px 3px 6px rgba(115, 76, 191, 0.1), 0px 1px 0px rgba(115, 76, 191, 0.15);
  background-color: transparent;
  width: auto;
  border-radius: 100px;
}
.suggestions__link {
  padding: 8px 24px;
}
.search {
  color: #A3A3BF;
}
.search__two-columns-wrap {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: space-between;
}
.search__label {
  position: relative;
  display: block;
}
.search__input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 45px;
  padding-bottom: 18px;
  color: inherit;
  font-weight: inherit;
  border: 1px solid #E4E1F5;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: inset 2px 2px 2px rgba(131, 86, 191, 0.1);
}
.search__input::-moz-placeholder {
  opacity: 1;
}
.search__input:-ms-input-placeholder {
  opacity: 1;
}
.search__input::placeholder {
  opacity: 1;
}
.search__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}
.search__icon-shutterstock {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 178px;
}
.two-columns {
  display: grid;
  grid-template-columns: 272px 914px;
  justify-content: space-between;
  margin-top: 40px;
}
.two-columns__content-column {
  display: flex;
  flex-direction: column;
}
.two-columns__block {
  margin-bottom: 60px;
}
.two-columns__block--decor {
  border-bottom: 1px solid #DFDBF3;
}
.two-columns__block:last-of-type {
  margin-bottom: 0;
}
.categories__item-block {
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-top: 26px;
  padding-bottom: 11px;
  border: 1px solid #E4E1F5;
  border-radius: 6px;
}
.categories__item-block:last-child {
  margin-bottom: 0;
}
.categories__item-title {
  margin-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
}
.categories__link {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  padding-top: 14px;
  padding-left: 23px;
  padding-right: 15px;
  padding-bottom: 14px;
  color: #2D264D;
}
.categories__link:hover {
  background-color: #F7F5FD;
}
.categories__icon {
  margin-right: 16px;
}
.categories__icon-go {
  margin-left: auto;
}
.inner-links__list {
  display: grid;
  grid-template-columns: repeat(2, 444px);
  justify-content: space-between;
  gap: 24px;
}
.inner-links__item {
  height: 240px;
}
.inner-links__link {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.inner-links__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.features__list {
  display: grid;
  grid-template-columns: repeat(3, 288px);
  gap: 24px;
}
.features__item {
  box-sizing: border-box;
  padding-top: 22px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 28px;
  border: 1px solid #E4E1F5;
  border-radius: 6px;
}
.features__icon-circle {
  margin-bottom: 25px;
}
.features__item-title {
  margin-bottom: 10px;
}
.features__item-desc {
  color: #626080;
}
.about__title {
  margin-bottom: 27px;
}
.about__subtitle {
  margin-bottom: 37px;
}
.about__content-wrap {
  display: grid;
  grid-template-columns: 570px 290px;
  justify-content: space-between;
}
.about__text-wrap p {
  margin-bottom: 24px;
}
.about__text-wrap p:last-child {
  margin-bottom: 0;
}
.about__aside-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.about__img-wrap {
  width: 100%;
  height: 375px;
  margin-bottom: 24px;
}
.about__img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__link {
  margin-top: auto;
}
.gallery__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.gallery__list {
  display: grid;
  grid-template-columns: repeat(3, 288px);
  gap: 24px;
}
.gallery__img-wrap {
  width: 100%;
  height: 180px;
}
.gallery__img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*swiper*/
.swiper-slide {
  overflow: hidden;
}
.slide-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  position: relative;
  top: 0;
  bottom: auto;
  margin-top: 6px;
}
.swiper-pagination-bullet {
  position: relative;
  width: 6px;
  height: 6px;
  margin-top: 6px;
  background-color: #2D264D;
}
.swiper-pagination-bullet-active {
  background-color: transparent;
  background-image: linear-gradient(120.87deg, #BD5A8F -18.64%, #5B23B5 120.48%);
}
.swiper-pagination-bullet-active::before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #734CBF;
  background-image: none;
  border-radius: 50%;
  opacity: 0.1;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}
.main-swiper {
  margin-bottom: 18px;
}
.main-swiper__container {
  height: 390px;
}
.main-swiper__wrapper {
  height: 360px;
}
.main-swiper__img-wrap {
  width: 912px;
  height: 360px;
}
.main-swiper__img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-swiper__content-wrap {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*footer*/

/*# sourceMappingURL=style.css.map */
