.features {
}

.features__list {
  display: grid;
  grid-template-columns: repeat(3, 288px);
  gap: 24px;
}

.features__item {
  box-sizing: border-box;

  // min-height: 240px;
  padding-top: 22px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 28px;

  border: 1px solid @border;
  border-radius: 6px;
}

.features__icon-circle {
  margin-bottom: 25px;
}

.features__icon {}

.features__item-title {
  margin-bottom: 10px;
}

.features__item-desc {
  color: @text-secondary;
}

